
.nav-item {
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
    
}

.center {
    text-align: center;
   
}

p {
    font-size: 24px;
}

ul {
    list-style-position: inside;
    font-size: 19px;
}

h1 {
    font-size: 40px;
}


h3, h4 {
    font-size: 26px;
}

.deeppink{
    color: deeppink;
}